<footer>
  <div class="w-100 mw-none ph3 mw8-m mw9-l center f3">
    <div style="width: 50%; margin: 0 auto;">
        <a href="https://github.com/mattgathu" target="_blank" rel="noopener" alt="github link"><img src="/images/GitHub-Mark-64px.png" alt="github logo" title="GitHub"/></a>
        <a href="https://twitter.com/swissgathu" target="_blank" rel="noopener" alt="twitter link"><img src="/images/twitter.svg" alt="twitter logo" title="Twitter"/></a>
    </div>
  </div>
</footer>
<!-- scripts -->
<script src="/scripts/highlight.js"></script>
